<form action="" class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="LoginData(form)">
    <h1 class="text-center bg-dark text-white">Please login</h1>
<div class="form-group">
    <input type="email" name="email" id="email" class="form-control" placeholder="Enter a email..." #email="ngModel" ngModel required>
    <div *ngIf="email.touched && email.invalid">
        <p *ngIf="email.errors.required" class="alert alert-danger">*This field is required</p>
    </div>
</div>
<div class="form-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="Enter a password..." #password="ngModel" ngModel required minlength="6">
        <div *ngIf="password.touched && password.invalid">
        <p *ngIf="password.errors.required" class="alert alert-danger">*This field is required</p>
        <p *ngIf="password.errors.minlength" class="alert alert-danger">*minimum 6 charcter8c 8</p> 
    </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid" >Login</button>
    </div>

</form>
